* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(46, 46, 102);
}
.container {
    position: absolute;
    background-image: url('./closet1.jpg');
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 500px;
    transform: translate(-50%,-50%);
    border-radius: 0 15px 0 0;
    overflow: visible;
    transform-style: preserve-3d;

}

.container:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    width: 30px;
    height: calc(100% + 19px) ;
    background-color: red;
    pointer-events: none;
    transform: rotate(1deg) translateZ(-1px);
    /* border radious is optional to look better */
    border-radius: 0 0 0 15px;

  }

.container::after{
    content: '';
    display: block;
    position: absolute;
    top: 98%;
    left: -12px;
    width: 100%;
    height: 20px;
    background-color: red;
    transform: rotate(-4deg) translateZ(-1px);
    /* border radious is optional to look better */
    border-radius: 0 0 0 15px;
}
